/*기본*/
#wrap{ width:100%; height:100%; position:relative; }
#header{ position:relative; }
#container{ position:relative; }
#container:after{ display:block; clear:both; content:''; }
#footer{ background:#535c65; height:117px; }

/* header */
.headerTop{ background:#fbfbfb; border-bottom:1px solid #dfe2e4; }
    .headerTopInner{ width:1000px; margin:0 auto; }
    .headerTopInner:after{ content:''; display:block; clear:both; }
        .btn_iconWrap{ padding:12px 0 15px; float:left; }
            .btn_iconWrap a{ display:inline-block; width:20px; height:20px; }
                .btn_iconWrap a.favorite{ background:url('../img/common/btn_favorite.gif') left top no-repeat; margin-right:25px; }
                .btn_iconWrap a.favorite:hover, .btn_iconWrap a.favorite.on{ background:url('../img/common/btn_favorite_hover.gif') left top no-repeat; }
                .btn_iconWrap a.home{ background:url('../img/common/btn_home.gif') left top no-repeat; }
                    .btn_iconWrap a.home:hover, .btn_iconWrap a.home.on{ background:url('../img/common/btn_home_hover.gif') left top no-repeat; }
        .btn_textWrap{ padding:16px 0 17px; float:right; font-size:12px; color:#949494; }
            .btn_textWrap a{ display:inline-block; text-decoration:none; font-size:12px; color:#949494; background:url('../img/common/ico_headerBar.gif') left center no-repeat; padding-left:10px; margin-left:5px; }
            .btn_textWrap a.on, .btn_textWrap a:hover{ color:#007db5; }
                .btn_textWrap span{ color:#69bed9; }

    .headerInner{ width:1000px; margin:0 auto; }
    .headerInner:after{ content:''; display:block; clear:both; }
        .logo{ float:left; padding:17px 0 19px; }
            .logo a{ display:block; }
        .gnb{ float:right; padding:17px 0 14px; }
            .gnb a{ display:block; width:52px; height:52px; background:url('../img/common/btn_gnb.gif') left top no-repeat; }
            .gnb a.on, .gnb a:hover{ background:url('../img/common/btn_gnb_on.gif') left top no-repeat; }

/* footer */
.footerInner{ width:1000px; margin:0 auto; padding:34px 0; }
.footerInner:after{ content:''; display:block; clear:both; }
    .footlogo{ float:left; }
    .copyright{ float:left; padding:10px 0 10px 21px; }
        .copyright span{ font-size:12px; color:#a5a9ad; }
    .groupSite_short_cut{ float:right; position:relative; }
        .groupSite_short_cut a.groupSiteTitle{ display:block; color:#a5a9ad; font-size:13px; text-decoration:none; background:url('../img/common/ico_footMore.gif') 90% center no-repeat; padding:10px 40px 10px 20px; }
            .groupSite_short_cut a.groupSiteTitle:hover, .groupSite_short_cut a.groupSiteTitle.on{ background:#424a51 url('../img/common/ico_footMore_hover.gif') 90% center no-repeat; }
        .groupSiteWrap{ width:174px; position:absolute; bottom:35px; left:0; display:none; }
            .groupSiteWrap ul li a{ display:block; font-size:13px; color:#fff; padding:10px 20px; background:#424a51; text-decoration:none; }
                .groupSiteWrap ul li a:hover, .groupSiteWrap ul li a.on{ background:#2a3035; }

/* background_공통 */
.bgNone{background:none !important;}

/* font color_공통 */
.crl2688ba{ color:#2688ba !important; }

/* padding_공통 */
.pt_0{padding-top:0 !important;}
.pt_5{padding-top:5px !important;}
.pt_10{padding-top:10px !important;}
.pt_15{padding-top:15px !important;}
.pt_20{padding-top:20px !important;}
.pt_25{padding-top:25px !important;}
.pt_30{padding-top:30px !important;}
.pt_35{padding-top:35px !important;}
.pt_40{padding-top:40px !important;}
.pt_45{padding-top:45px !important;}
.pt_50{padding-top:50px !important;}

.pb_0{padding-bottom:0 !important;}
.pb_5{padding-bottom:5px !important;}
.pb_10{padding-bottom:10px !important;}
.pb_15{padding-bottom:15px !important;}
.pb_20{padding-bottom:20px !important;}
.pb_25{padding-bottom:25px !important;}
.pb_30{padding-bottom:30px !important;}
.pb_35{padding-bottom:35px !important;}
.pb_40{padding-bottom:40px !important;}
.pb_45{padding-bottom:45px !important;}
.pb_50{padding-bottom:50px !important;}

.pr_0{padding-right:0 !important;}
.pr_5{padding-right:5px !important;}
.pr_10{padding-right:10px !important;}
.pr_15{padding-right:15px !important;}
.pr_20{padding-right:20px !important;}
.pr_25{padding-right:25px !important;}
.pr_30{padding-right:30px !important;}
.pr_35{padding-right:35px !important;}
.pr_40{padding-right:40px !important;}
.pr_45{padding-right:45px !important;}
.pr_50{padding-right:50px !important;}

.pl_0{padding-left:0 !important;}
.pl_5{padding-left:5px !important;}
.pl_10{padding-left:10px !important;}
.pl_15{padding-left:15px !important;}
.pl_20{padding-left:20px !important;}
.pl_25{padding-left:25px !important;}
.pl_30{padding-left:30px !important;}
.pl_35{padding-left:35px !important;}
.pl_40{padding-left:40px !important;}
.pl_45{padding-left:45px !important;}
.pl_50{padding-left:50px !important;}

/* margin_공통 */
.mt_0{margin-top:0 !important;}
.mt_5{margin-top:5px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_25{margin-top:25px !important;}
.mt_30{margin-top:30px !important;}
.mt_35{margin-top:35px !important;}
.mt_40{margin-top:40px !important;}
.mt_45{margin-top:45px !important;}
.mt_50{margin-top:50px !important;}

.mb_0{margin-bottom:0 !important;}
.mb_5{margin-bottom:5px !important;}
.mb_10{margin-bottom:10px !important;}
.mb_15{margin-bottom:15px !important;}
.mb_20{margin-bottom:20px !important;}
.mb_25{margin-bottom:25px !important;}
.mb_30{margin-bottom:30px !important;}
.mb_35{margin-bottom:35px !important;}
.mb_40{margin-bottom:40px !important;}
.mb_45{margin-bottom:45px !important;}
.mb_50{margin-bottom:50px !important;}

.mr_0{margin-right:0 !important;}
.mr_5{margin-right:5px !important;}
.mr_10{margin-right:10px !important;}
.mr_15{margin-right:15px !important;}
.mr_20{margin-right:20px !important;}
.mr_25{margin-right:25px !important;}
.mr_30{margin-right:30px !important;}
.mr_35{margin-right:35px !important;}
.mr_40{margin-right:40px !important;}
.mr_45{margin-right:45px !important;}
.mr_50{margin-right:50px !important;}

.ml_0{margin-left:0 !important;}
.ml_5{margin-left:5px !important;}
.ml_10{margin-left:10px !important;}
.ml_15{margin-left:15px !important;}
.ml_20{margin-left:20px !important;}
.ml_25{margin-left:25px !important;}
.ml_30{margin-left:30px !important;}
.ml_35{margin-left:35px !important;}
.ml_40{margin-left:40px !important;}
.ml_45{margin-left:45px !important;}
.ml_50{margin-left:50px !important;}