.main_containerInnerWrap{ position:relative; width:997px; margin:0 auto; }
    .main_containerInner{ border:1px solid #dfe2e4; margin:15px 0; }
    .main_containerInner:after{ content:''; display:block; clear:both; }
        .mainMenu{ width:165px; height:500px; float:left; border-right:1px solid #dfe2e4; }
        .mainMenu:last-child{ border-right:none; }
            /*.mainMenu01 a, .mainMenu03 a, .mainMenu05 a{ background:; }*/
                .mainMenu a{ width:165px; height:228px; display:block; text-decoration:none; text-align:center; padding-top:272px; }
                    .mainMenu a p{ line-height:25px; }
                       .mainMenu a p.title{ color:#000; font-size:18px; font-weight:bold; }
                            .mainMenu a p.title span{ display:block; font-size:15px; }
                       .mainMenu a p.subScribe{ color:#666; font-size:14px; padding-top:10px; }
                       .mainMenu a:hover p.title{ color:#fff; }
                       .mainMenu a:hover p.subScribe{ display:none; }

                    .mainMenu01 a{ background:#f3f3f3 url('../img/main/bg_mainMenu01.png') center 131px no-repeat; }
                        .mainMenu01 a:hover{ background:url('../img/main/bg_mainMenu01_hover.gif') left top no-repeat; }

                    .mainMenu02 a{ background:url('../img/main/bg_mainMenu02.png') center 131px no-repeat; }
                        .mainMenu02 a:hover{ background:url('../img/main/bg_mainMenu02_hover.gif') left top no-repeat; }

                    .mainMenu03 a{ background:#f3f3f3 url('../img/main/bg_mainMenu03.png') center 131px no-repeat; }
                        .mainMenu03 a:hover{ background:url('../img/main/bg_mainMenu03_hover.gif') left top no-repeat; }

                    .mainMenu04 a{ background:url('../img/main/bg_mainMenu04.png') center 131px no-repeat; }
                        .mainMenu04 a:hover{ background:url('../img/main/bg_mainMenu04_hover.gif') left top no-repeat; }

                    .mainMenu05 a{ background:#f3f3f3 url('../img/main/bg_mainMenu05.png') center 131px no-repeat; }
                        .mainMenu05 a:hover{ background:url('../img/main/bg_mainMenu05_hover.gif') left top no-repeat; }

                    .mainMenu06 a{ background:url('../img/main/bg_mainMenu06.png') center 131px no-repeat; }
                        .mainMenu06 a:hover{ background:url('../img/main/bg_mainMenu06_hover.gif') left top no-repeat; }

.board_short_cut_Wrap{ width:100%; height:134px; background:#f1f1f1;  }
    .board_short_cut_Inner{ width:1000px; margin:0 auto; }
        .board_short_cut{ padding:35px 0 32px; }
        .board_short_cut:after{ content:''; display:block; clear:both; }
            .board{ float:left; padding-left:23px; }
                .board a{ display:block; text-decoration:none; font-size:15px; color:#000; font-weight:bold; padding-right:32px; margin:22px 0 28px; background:url('../img/main/ico_more.gif') right center no-repeat; }
                .board a:hover, .board a:active{ background:url('../img/main/ico_more_hover.gif') right center no-repeat; }
                .board00{ padding-left:0; }
                .board04{ text-decoration:none; font-size:15px; color:#000; font-weight:bold; }
                    .board04 .bannerBox{ width:208px; height:47px; margin-top:7px; background:#fff; position:relative; }
                    .board04 a{ background:none; margin:0; padding:0; position:absolute; right:0; top:12px; text-indent:-999999px; }
                        .board04 a.bx-prev{ width:23px; height:25px; background:url('../img/main/btn_prev.gif') left top no-repeat; right:36px; }
                            .board04 a.bx-prev:hover, .board04 a.bx-prev:active{ background:url('../img/main/btn_prev_hover.gif') left top no-repeat; }
                        .board04 a.bx-next{ width:23px; height:25px; background:url('../img/main/btn_next.gif') left top no-repeat; right:13px; }
                            .board04 a.bx-next:hover, .board04 a.bx-next:active{ background:url('../img/main/btn_next_hover.gif') left top no-repeat; }
                    .board04 .slide{ width:208px !important; padding:9px 0 9px 15px; }

                .board05 span{ display:block; font-size:12px; color:#575757; text-align:left; margin-top:10px; }


				/*160919 승현추가*/
				.smarLearningPop { z-index:999;position:absolute; left:0; top:0; display:none; width:1000px; height:500px; background:url("../img/main/Img_mainMenu01.png") no-repeat 0 0; }
				.smarLearningPop.on { display:block; }
				.smarLearningPopX { position:absolute; right:24px; top:28px; }
				.smarLearningPop ul { width:300px; margin:115px auto; }
				.smarLearningPop ul li { line-height:40px; }
				.smarLearningPop ul li a { color:#fff; display:block; padding:10px 25px; font-size:25px; text-decoration:none; font-weight:bold; }
				.smarLearningPop ul li.last a { font-size:15px; }
				.smarLearningPop ul li a:hover, .smarLearningPop ul li a.on { color:#00cbec; font-weight:bold; background:url("../img/main/smarLearningPopList_hover.png") no-repeat 0 0;; }

				.siteMap { z-index:999; position:absolute; left:50%; top:10%; width:860px; margin-left:-500px; padding:70px; background:#fff; }
				.siteMap h1 { color:#000; font-size:28px; margin-bottom:50px; }
				.siteMap h1 span { color:#666666; font-size:14px; margin-left:25px; font-weight:normal; }
				.siteMapoffBtn { position:absolute; right:85px; top:50px; }
				.siteMap table { width:100%; }
				.siteMap table tr { width:100%; border-top:1px solid #dadada; }
				.siteMap table tr th,.siteMap table tr td { padding:35px 0; }
				.siteMap table tr th { width:180px; text-align:left; font-size:18px; font-weight:bold; }
				.siteMap table tr td { font-size:14px; color:#666; }
				.siteMap table tr td a { margin-right:25px; }
				.siteMap table tr td a:hover { color:#449ac9; text-decoration:underline;}
				 