/* 서브공통 */
.visual{ width:100%; text-align:center; background:url('../img/sub/learningRoadMap_Visual.gif') center top no-repeat; background-size:100% 200px; font-size:40px; color:#fff; padding:77px 0; }
.subTitleWrap{ width:1000px; margin:0 auto; padding:38px 0 36px; }
.subTitleWrap:after{ content:''; display:block; clear:both; }
    p.subTitle{ float:left; font-size:25px; color:#000; }
    .lineMap{ float:right; }
        .lineMap span{ position:relative; display:inline-block; background:url('../img/sub/common/ico_lineMapArrow.gif') right center no-repeat; padding:0 20px 0 15px; font-size:14px; color:#666; cursor:pointer; }
        .lineMap span:last-child{ background:none; padding-right:0; }
		.lineMap .depth2 { display:none; position:absolute; top:20px; left:0; z-index:999; min-width:150px; padding: 20px 0; border:1px solid #bbbbbb; background:#fff;  }
		.lineMap span.on .depth2 { display:block; min-width:200px; }
		.lineMap span.on .depth2 ul li { font-size:14px; }
		.lineMap span.on .depth2 ul li a { display:block;padding:9px 0 9px 20px; background:url("../img/common/lineMapHoverBlitOff.png") no-repeat 90% center ; }
		.lineMap span.on .depth2 ul li a:hover { color:#007db5; text-decoration:none; background:#fbfbfb url("../img/common/lineMapHoverBlitOn.png") no-repeat 90% center ;; }
.containerInner{ width:1000px; margin:0 auto; position:relative; padding-bottom:60px; }
    #topQuick{ position:absolute; right:-56px; bottom:42px; }
    #dim{ width:100%; height:100%; background:#000; opacity:0.8; position:fixed; left:0; top:0; display:none; }

    /* 서브_러닝로드맵 */
    .roadMapWrap:after{ content:''; display:block; clear:both; }
        .roadMap{ width:493px; height:300px; float:left; margin-bottom:17px; text-align:center; color:#fff; }
            .roadMap01{ background:#55a354; margin-right:14px; }
            .roadMap02{ background:#006aa6; }
            .roadMap03{ background:#1a837b; margin-right:14px; }
            .roadMap04{ background:#dc9641; }
            .roadMap05{ background:#08174e; }
            .roadMap a{ display:block; color:#fff; padding:54px 0 50px; text-decoration:none; }
                .roadMap a span{ display:block; }
                .roadMap a span.roadMapTitleEng{ font-size:40px; }
                .roadMap a span.roadMapTitleKor{ font-size:18px; }
                .roadMap a span.roadMapBtn{ font-size:15px; width:144px; border:2px solid #fff; text-align:center; margin:32px auto 0 auto; padding:15px 0; }

    /* 서브_커머셜기업금융총괄본부 */
    .tabTableWrap:after{ content:''; display:block; clear:both; }
        ul.tabTitle00{ float:right; }
            ul.tabTitle00 li{ width:143px; float:left; text-align:center; }
                ul.tabTitle00 li a{ font-size:14px; color:#000; display:block; background:#fff; border:1px solid #e0e2e1; padding:12px 0; text-decoration:none; }
                ul.tabTitle00 li a.on, ul.tabTitle00 li a:hover{ background:#696a6c; border:1px solid #696a6c; color:#fff; }

        .tabConAll00{ margin-top:13px; position:relative; }
            .tab00{ display:none; }
                table.tableType01{ width:100%; margin-bottom:26px; border-top:1px solid #000; }
                    table.tableType01 thead th{ font-size:14px; font-weight:bold; color:#000; border-bottom:1px solid #999; border-right:1px solid #e0e2e1; padding:18px 0; }
                    table.tableType01 thead th.first, table.tableType01 thead th.last, table.tableType01 tbody th.last, table.tableType01 tbody td.last{ border-right:none; }
                    table.tableType01 tbody th{ font-size:14px; font-weight:bold; color:#000; border-bottom:1px solid #999; padding:18px 0 18px 18px; text-align:left; }
                    table.tableType01 tbody td{ font-size:14px; color:#666; text-align:left; border-right:1px solid #e0e2e1; border-bottom:1px solid #e0e2e1; padding:18px 0 18px 18px; }
                        table.tableType01 tbody td a.listTitle{ display:block; color:#666; }
                        table.tableType01 tbody td a.listTitle:hover, table.tableType01 tbody td a.listTitle.on{ display:block; color:#3d90bf; }
                        table.tableType01 tbody td ul.tableList:after{ content:''; display:block; clear:both; }
                            table.tableType01 tbody td ul.tableList li{ background:url('../img/sub/common/ico_bulit.gif') left 7px no-repeat; padding:0 0 7px 15px; float:left; }
                            table.tableType01 tbody td ul.tableList01 li{ width:326px; }
                                table.tableType01 tbody td ul.tableList li a{ display:block; color:#666; }
                                table.tableType01 tbody td ul.tableList li a.listTitle:hover, table.tableType01 tbody td ul.tableList li a.listTitle.on{ color:#3d90bf; text-decoration:underline; }
                            table.tableType01 tbody td p{ font-size:14px; font-weight:bold; color:#000; margin-top:20px; margin-bottom:10px; }
                            table.tableType01 tbody td ul.tableList02 li{ width:650px; }
                            table.tableType01 tbody td ul.tableList03 li{ clear:both; }

                        .layerview{ width:640px; height:830px; border:1px solid #000; position:absolute; left:50%; top:50%; z-index:10; margin:-445px 0 0 -350px; background:#fff; padding:30px; }
                            .layerTitle{ position:relative; font-size:18px; color:#565656; }
                                a.closeLayer{ position:absolute; right:0; top:0; }
                            .layerContentWrap{ height:700px; margin-top:30px; overflow-y:auto; }
                            .buttonCenter{ text-align:center; margin:20px 0 30px; }
                                .buttonCenter a{ padding:17px 50px; display:inline-block; color:#fff; background:#007db5; font-size:14px; text-align:center; text-decoration:none; }
                                    .buttonCenter a:hover{ background:#0067a4; }
                            .buttonLeft{ text-align:left; margin:20px 0 30px; }
                                .buttonLeft a{ width:140px; padding:17px 0; margin-right:10px; display:inline-block; color:#fff; background:#007db5; font-size:14px; text-align:center; text-decoration:none; }
                                    .buttonLeft a:hover{ background:#0067a4; }
                                a.down{ background:#007db5 url('../img/sub/common/ico_down.png') 80% center no-repeat; padding-right:20px; text-decoration:none; }
                                    a.down:hover{ background:#0067a4 url('../img/sub/common/ico_down.png') 80% center no-repeat; }

                    table.tableType01 tbody tr.last th, table.tableType01 tbody tr.last td{ border-bottom:1px solid #999; }
                p.tableSummary{ font-size:14px; color:#666; margin-bottom:5px; }

    /* 서브_리테일금융총괄본부 */
    .subTab ul { background:#f7f7f7; margin-bottom:30px; padding:25px 15px 25px 30px; }
    .subTab ul:after { content:""; display:block; clear:both; }
    .subTab ul li { float:left; font-size:15px; }
    .subTab ul li a { color:#666666; font-weight:bold; display:block;padding:0 19px; background:url('../img/sub/subTabBlit.gif') no-repeat right 0; }
    .subTab ul li a:hover, .subTab ul li.on a { color:#007db5; font-weight:bold; text-decoration:none; }
    .subTab ul li a.first { padding-left:0; }
    .subTab ul li a.last { background:none; }
    .tableTit { float:left; font-size:18px; font-weight:bold; color:#000000; margin-bottom:10px; padding-left:32px; padding-top:20px; padding-bottom:2px; background:url('../img/sub/tableBlit.gif') no-repeat left 21px ; }

        table.tabelType02{ width:100%; margin-bottom:26px; border-top:1px solid #000000; }
            table.tabelType02 tbody th{ font-size:14px; font-weight:bold; color:#000; border-bottom:1px solid #999; padding:18px 0 18px 18px; text-align:left; }
            table.tabelType02 tbody td{ font-size:14px; color:#666; text-align:left;  border-bottom:1px solid #e0e2e1; padding:18px 0 18px 18px; }
                table.tabelType02 tbody td ul.tableList:after{ content:''; display:block; clear:both; }
                    table.tabelType02 tbody td ul.tableList li{ background:url('../img/sub/common/ico_bulit.gif') left center no-repeat; padding:0 0 7px 15px; float:left; }
                    table.tabelType02 tbody td ul.tableList li a:hover { color:#007db5; }
                    table.tabelType02 tbody td ul.tableList01 li{ width:326px; }
                    table.tabelType02 tbody td p{ font-size:14px; font-weight:bold; color:#000; margin-top:20px; margin-bottom:10px; }
                    table.tabelType02 tbody td ul.tableList02 li{ width:650px; }
            table.tabelType02 tbody tr.last th, table.tabelType01 tbody tr.last td{ border-bottom:1px solid #999; }

    /* 서브_리더쉽_리더십 목적,포부 */
    .contentWrap h2.contentTitle{ font-size:24px; font-weight:normal; color:#000; padding-bottom:20px; }
    .contentWrap h3.contentSubTitle{ font-size:20px; font-weight:normal; color:#000; }
    .contentWrap .contentImgWrap{ text-align:center; margin:50px 0; }
    .contentWrap .contentTwoDepth{ border-top:1px solid #e0e2e1; }
    .contentWrap .contentTwoDepth:after{ content:''; display:block; clear:both; }
        .contentWrap .contentTwoDepth .contentLeftDepth{ width:500px; float:left; }
        .contentWrap .contentTwoDepth .contentRightDepth{ width:500px; float:left; }
            .contentWrap .contentTwoDepth .contentBox{ height:130px; padding:18px 30px 19px 0; border-bottom:1px solid #e0e2e1; }
                .contentWrap .contentTwoDepth .contentBox .contentDepthTitle{ font-size:18px; font-weight:bold; color:#000; padding-bottom:10px; }
                .contentWrap .contentTwoDepth .contentBox .contentDepthText{ font-size:14px; color:#666; line-height:26px; }
    .contentWrap p.blockbulit{ font-size:14px; color:#2688ba; margin-top:20px; background:url('../img/sub/common/ico_blockBulit.gif') left 7px no-repeat; padding-left:15px; line-height:20px; }

    /* 서브_리더십 개발 */
    .contentStepWrap{ margin:45px 0; }
        .contentStepWrap .contentStep{ background:url('../img/sub/bg_readership02.gif') left bottom no-repeat; margin-top:20px; }
            .contentStepWrap .contentStep .contentStepTitle{ font-size:20px; font-weight:bold; color:#000; padding-bottom:24px; }
            .contentStepWrap .contentStep .contentStepTitle span{ color:#2688ba; }
            .contentStepWrap .contentStep .contentStepText{ font-size:14px; color:#666; line-height:26px; padding-bottom:27px; }
         .contentStepWrap .contentStep04{ background:none; }

    /* 서브_리더십 원칙 */
    .contentWrap .contentTwoDepth .contentBox_01{ height:150px; padding:18px 45px 19px 0; border-bottom:1px solid #e0e2e1; }
            .contentWrap .contentTwoDepth .contentBox_01{ padding-left:140px; }
            .contentWrap .contentTwoDepth .contentBox_01 .contentDepthTitle{ font-size:18px; font-weight:bold; color:#000; padding-bottom:10px; }
            .contentWrap .contentTwoDepth .contentBox_01 .contentDepthSubTitle{ font-size:16px; color:#aaa; font-weight:bold; }
            .contentWrap .contentTwoDepth .contentBox_01 .contentDepthText{ font-size:14px; color:#666; line-height:26px; }
                .contentWrap .contentTwoDepth .contentBox_01_01{ background:url('../img/sub/bg_readership03_01.gif') left center no-repeat; }
                .contentWrap .contentTwoDepth .contentBox_01_02{ background:url('../img/sub/bg_readership03_02.gif') left center no-repeat; }
                .contentWrap .contentTwoDepth .contentBox_01_03{ background:url('../img/sub/bg_readership03_03.gif') left center no-repeat; }
                .contentWrap .contentTwoDepth .contentBox_01_04{ background:url('../img/sub/bg_readership03_04.gif') left center no-repeat; }
                .contentWrap .contentTwoDepth .contentBox_01_05{ background:url('../img/sub/bg_readership03_05.gif') left center no-repeat; }
                .contentWrap .contentTwoDepth .contentBox_01_06{ background:url('../img/sub/bg_readership03_06.gif') left center no-repeat; }

    /* 서브_리더십 지원프로그램 */
    .readershipProgramWrap{ background:#fbfbfb; }
    .readershipProgramWrap:after{ content:''; display:block; clear:both; }
        .redeashipProgramTextArea{ width:419px; float:left; padding:10px 40px 20px; }
            .redeashipProgramTextArea .ProgramTextArea{ padding-top:90px; }
                .redeashipProgramTextArea .ProgramTextArea h2{ font-size:18px; font-weight:bold; color:#000; }
                .redeashipProgramTextArea .ProgramTextArea p{ font-size:14px; color:#666; margin-top:15px; line-height:20px; }
        .redeashipProgramLinkArea{ width:501px; height:680px; float:left; background:url('../img/sub/bg_readershipProgramLinkArea.png') left 10px no-repeat; padding-bottom:20px; position:relative; }
            .redeashipProgramLinkArea .programLinkArea{ position:absolute; left:0; top:0; }
            .redeashipProgramLinkArea .programLinkArea > a{ display:block; text-decoration:none; }
            .redeashipProgramLinkArea .programLinkArea > a h2{ font-size:16px; font-weight:bold; color:#000; text-align:center; }
            .redeashipProgramLinkArea .programLinkArea > a p{ font-size:16px; color:#000; text-align:center; }
                .redeashipProgramLinkArea .programLinkArea01{ width:120px; top:110px; left:90px; }
                .redeashipProgramLinkArea .programLinkArea02{ width:140px; top:125px; left:292px; }
                .redeashipProgramLinkArea .programLinkArea03{ top:255px; left:199px; }
                    .redeashipProgramLinkArea .programLinkArea03 a h2{ font-size:14px; font-weight:bold; color:#000; text-align:center; }
                    .redeashipProgramLinkArea .programLinkArea03 a p{ font-size:14px; color:#000; text-align:center; }
                .redeashipProgramLinkArea .programLinkArea04{ width:100px; top:352px; left:300px; }
                    .redeashipProgramLinkArea .programLinkArea04 a h2{ font-size:14px; font-weight:bold; color:#000; text-align:center; }
                    .redeashipProgramLinkArea .programLinkArea04 a p{ font-size:14px; color:#000; text-align:center; }
                .redeashipProgramLinkArea .programLinkArea05{ width:80px; top:415px; left:199px; }
                    .redeashipProgramLinkArea .programLinkArea05 a h2{ font-size:14px; font-weight:bold; color:#000; text-align:center; }
                    .redeashipProgramLinkArea .programLinkArea05 a p{ font-size:14px; color:#000; text-align:center; }
                .redeashipProgramLinkArea .programLinkArea06{ width:105px; top:465px; left:40px; }
                .redeashipProgramLinkArea .programLinkArea07{ width:100px; top:549px; left:315px; }
                .redeashipProgramLinkArea .programLinkArea08{ width:100px; top:564px; left:179px; }
                    .redeashipProgramLinkArea .programLinkArea08 a h2{ font-size:14px; font-weight:bold; color:#000; text-align:center; }
                    .redeashipProgramLinkArea .programLinkArea08 a p{ font-size:14px; color:#000; text-align:center; }
                .redeashipProgramLinkArea .programLinkArea09{ width:65px; top:625px; left:84px; }
                    .redeashipProgramLinkArea .programLinkArea09 a h2{ font-size:12px; font-weight:bold; color:#000; text-align:center; }
                    .redeashipProgramLinkArea .programLinkArea09 a p{ font-size:12px; color:#000; text-align:center; }

        /* 레이어박스 */
        .redeashipProgramLinkArea .layerview{ width:940px; height:1180px; margin:-500px 0 0 -650px; }
        .redeashipProgramLinkArea .layerview .layerContentWrap{ height:1050px; }
        .layerContent_mainContentBox{ border:1px solid #e2e4e3; padding:30px; }
            h3.layerContent_mainContentBox_title{ font-size:16px; color:#000; font-weight:bold; }
            ul.layerContent_mainContentBox_list{ margin-top:17px; }
                ul.layerContent_mainContentBox_list ol{ font-size:14px; color:#666; padding-bottom:5px; }
                    ul.layerContent_mainContentBox_list ol span{ font-size:18px; font-weight:bold; color:#0075b5; vertical-align:middle; }
            p.layerContent_mainContentBox_txt{ font-size:14px; color:#666; line-height:20px; }
            table.tabelType03{ width:100%; margin-top:25px; }
                table.tabelType03 th{ border-top:1px solid #000; border-bottom:1px solid #999; font-size:14px; color:#000; text-align:center; padding:10px 0; }
                table.tabelType03 td{ border-bottom:1px solid #999; font-size:14px; color:#666; padding:10px 0; text-align:center; }
            .layerContent_mainContentBox_BgWrap{ background:url('../img/sub/layerContent_mainContentBox_BgWrap.gif') right top no-repeat; margin-top:40px; }
                ul.layerContent_module_list li{ font-size:14px; color:#0075b5; background:url('../img/sub/common/ico_dotBulit.gif') left 7px no-repeat; padding-left:10px; }
                    ul.layerContent_module_Innerlist{ margin:10px 0; }
                        ul.layerContent_module_Innerlist ol{ font-size:14px; color:#666; padding:5px 0; }

                ul.layerContent_whois_list li{ font-size:14px; color:#666; background:url('../img/sub/common/ico_dotBulit.gif') left 12px no-repeat; padding:5px 0 5px 10px; }

                ul.layerContent_method_list li{ font-size:14px; color:#666; background:url('../img/sub/common/ico_dotBulit.gif') left 12px no-repeat; padding:5px 0 5px 10px; }
                    ul.layerContent_method_list li span{ color:#007db5; padding-right:10px; }

    /* 서브_셀프러닝 기타 외부과정 */
    .selfLearning04_txt{ font-size:16px; color:#666; margin-top:10px; line-height:20px; }
    ul.selfLearning04_list{ margin:15px 0 20px; }
    ul.selfLearning04_list li{ font-size:14px; color:#666; padding-bottom:10px; }
        ul.selfLearning04_list li span{ font-weight:bold; color:#000; padding-right:20px; }



/*셀프러닝*/
h4.contmTitle { color:#333; font-size:16px; padding:1px 10px 2px 34px;background:url("../img/sub/tableBlit.gif") no-repeat left 0 ; }
.txtStyle01_Mb37 { color:#7a7a7a; font-size:14px; margin-top:16px; margin-bottom:37px; }
.txtStyle01_Mb37.ul { line-height:25px; }
.txtStyle01_Mb37.ul .depth2 { margin-left:15px; }
.txtStyle01_Mb37.ul .depth3 {  }
.txtStyle01_Mb37.ul .depth3 li {     text-indent: -108px; padding-left:137px; background:url("../img/sub/blitGray.gif") no-repeat 20px 10px; }

.txtStyle01_Mb24 { color:#7a7a7a; font-size:14px; margin-top:16px; margin-bottom:24px; }
.txtStyle01_Mb24.ul { line-height:25px; }
.txtStyle01_Mb24.ul .depth2 { margin-left:15px; }
.txtStyle01_Mb24.ul .depth3 {  }
.txtStyle01_Mb24.ul .depth3 li {     text-indent: -108px; padding-left:137px; background:url("../img/sub/blitGray.gif") no-repeat 20px 10px; }

.normalTxtBox { line-height:25px; }
.normalTxtBox02 { line-height:20px; }
.thUl { line-height:25px; }
.tableType01.contT { margin-top:14px; }
.grayArrowUl {  }
.grayArrowUl:after { content:""; display:block; clear:both; }
.grayArrowUl li { float:left; margin-right:17px; padding-right:45px; line-height:18px; padding-bottom:5px; }
.grayArrowUl li.last { background:none; }
.grayArrowUl li.txt01 { padding-bottom:10px; padding-top:7px; }
table.grayArrowT tbody td { border:none; background:url("../img/sub/tableArrow.gif") no-repeat right center; }
table.grayArrowT tbody td.last { background:none; }

.txtStyle02_Mb40 { margin-bottom:40px; }
.txtStyle02_Mb40 li.tit { padding-left:14px; background:url("../img/sub/blitBlue.gif") no-repeat left center; }
.txtStyle02_Mb40 li { font-size:14px; padding-left:9px; line-height:24px; background:url("../img/sub/blitGray.gif") no-repeat left center; }
.txtStyle02_Mb40 li.normal { background:none; padding-left:0; }

.txtStyle02_Mb23 { margin-bottom:23px; }
.txtStyle02_Mb23 li.tit { padding-left:14px; background:url("../img/sub/blitBlue.gif") no-repeat left center; }
.txtStyle02_Mb23 li { font-size:14px; padding-left:9px; line-height:24px; background:url("../img/sub/blitGray.gif") no-repeat left center; }
.txtStyle02_Mb23 li.normal { background:none; padding-left:0; }
.color0281b6 { color:#0281b6 !important; }

.txtStyle03_Mb20 { margin-bottom:20px; }
.txtStyle03_Mb20 li { font-size:14px; color:#666; font-weight:normal; padding-left:9px; line-height:25px; }
.txtStyle03_Mb20 .depth2 { margin-left:5px; }

.tableType03{ width:100%; margin-bottom:26px; border-top:1px solid #000; }
table.tableType03 thead th{ font-size:14px; font-weight:bold; color:#000; border-bottom:1px solid #999; border-right:1px solid #e0e2e1; padding:18px 0; }
table.tableType03 thead th.first,
table.tableType03 thead th.last,
table.tableType03 tbody th.last,
table.tableType03 tbody td.last{ border-right:none; }

table.tableType03 tbody th { border-right:1px solid #e0e2e1; }

table.tableType03 tbody th{ font-size:14px; font-weight:bold; color:#000; border-bottom:1px solid #e0e2e1; padding:18px 8px 18px 8px; text-align:left; }
table.tableType03 tbody td{ font-size:14px; color:#666; text-align:left; border-right:1px solid #e0e2e1; border-bottom:1px solid #e0e2e1; padding:18px 8px 18px 8px; }
table.tableType03 tbody td a.listTitle{ display:block; color:#666; }
table.tableType03 tbody td a.listTitle:hover, table.tableType03 tbody td a.listTitle.on{ display:block; color:#3d90bf; }
table.tableType03 tbody td ul.tableList:after{ content:''; display:block; clear:both; }
table.tableType03 tbody td ul.tableList li{ background:url('../img/sub/common/ico_bulit.gif') left 7px no-repeat; padding:0 0 7px 15px; float:left; }
table.tableType03 tbody td ul.tableList01 li{ width:326px; }
table.tableType03 tbody td ul.tableList li a{ display:block; color:#666; }
table.tableType03 tbody td ul.tableList li a.listTitle:hover, table.tableType03 tbody td ul.tableList li a.listTitle.on{ color:#3d90bf; text-decoration:underline; }
table.tableType03 tbody td p{ font-size:14px; font-weight:bold; color:#000; margin-top:20px; margin-bottom:10px; }
table.tableType03 tbody td ul.tableList02 li{ width:650px; }
table.tableType03 tbody td ul.tableList03 li{ clear:both; }

.selfLearning_summary{ font-size:13px; color:#000; padding-bottom:10px; }
.titleNoneblit { font-size:14px; color:#000; margin-bottom:18px; }

a.selfLearning_down{ padding-right:60px; background:#007db5 url('../img/sub/common/ico_down.png') 90% center no-repeat; text-decoration:none; }
    a.selfLearning_down:hover{ background:#0067a4 url('../img/sub/common/ico_down.png') 90% center no-repeat; }

.selfLearning05_list { margin-bottom:47px; }
.selfLearning05_list li { font-size:14px; line-height:25px; }
.selfLearning05_list li span{ font-size:14px; font-weight:bold; color:#000; display:inline-block; width:120px; }

.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right !important; }
.bold { font-weight:bold; }

/* 서비스 준비중 */
.preparingWrap{ height:517px; border-top:1px solid #000; border-bottom:1px solid #999; background:url('../img/sub/common/commingSoon_Img.gif') center 105px no-repeat; }
    .preparingWrap p.title{ font-size:30px; text-align:center; color:#000; margin-top:315px; }
    .preparingWrap p.text{ font-size:17px; color:#a3a3a3; text-align:center; margin-top:18px; }