/* COMMON_HEADER */
#headerInner{ width:1180px; height:71px; margin:0 auto; }
#containerInner{ width:1180px; height:1398px; margin:0 auto; background:#999; }

/* COMMON_FOOTER */
#footer__footTop{ border-top:1px solid #ccc; }
.footer__footTop__Inner{ width:1180px; margin:0 auto; }
.footer__footTop__Inner:after{ content:''; display:block; clear:both; }
.footer__footTop__Inner__logoBox{ float:left; margin-right:95px; }
.footer__footTop__Inner__logoBox-fLogo{ padding:10px 0 8px; }
p.footer__footTop__Inner__logoBox-fCEO{ padding-bottom:10px; font-size:16px; color:#4d4d4d; }

.footer__footTop__Inner__contactBox{ float:left; margin-right:130px; }
.footer__footTop__Inner__contactBox-tel{ padding:15px 0 10px; font-size:14px; color:#4d4d4d; }
.footer__footTop__Inner__contactBox-fax{ padding-bottom:10px; font-size:14px; color:#4d4d4d; }
.footer__footTop__Inner__contactBox-email{ padding-bottom:10px; font-size:14px; color:#4d4d4d; }

.footer__footTop__Inner__addressBox{ float:left; }
.footer__footTop__Inner__addressBox-seoul{ padding:15px 0 10px; font-size:14px; color:#4d4d4d; }
.footer__footTop__Inner__addressBox-pangyo{ font-size:14px; color:#4d4d4d; }

#footer__footBot{ border-top:1px solid #ccc; }
.footer__footBot__Inner{ width:1180px; margin:0 auto; }
p.footer__footBot__Inner__copyright{ padding:10px 0; font-size:14px; color:#4d4d4d; text-align:right; }
