/* COMMON_HEADER */
#headerInner{ width:1180px; margin:0 auto; }
#headerInner:after{ content:''; display:block; clear:both; }
.headerInner__logoBox{ float:left; padding:12px 0; }
.headerInner__gnbBox{ float:right; }
ul.headerInner__gnbBox__gnbBoxInner:after{ content:''; display:block; clear:both; }
li.headerInner__gnbBox__gnbBoxInner-list{ float:left; background:url('../img/common/bg_topBar.png') left center no-repeat; }
li.headerInner__gnbBox__gnbBoxInner-list01{ background:none; }
li.headerInner__gnbBox__gnbBoxInner-list02{ position:relative; }
li.headerInner__gnbBox__gnbBoxInner-list a{ display:block; padding:24px 40px; font-size:20px; font-weight:bolder; color:#666; }
li.headerInner__gnbBox__gnbBoxInner-list a:hover{ color:#000; }
li.headerInner__gnbBox__gnbBoxInner-list01 a{ padding-left:0; }
li.headerInner__gnbBox__gnbBoxInner-list02 a span{ display:inline-block; padding-left:10px; }
li.headerInner__gnbBox__gnbBoxInner-list03 a{ padding-right:0; }
ul.headerInner__gnbBox__gnbBoxInner-list02__depth02Wrap{ display:none; position:absolute; left:0; top:77px; background:#fff; z-index:10; }
li.headerInner__gnbBox__gnbBoxInner-list02__depth02Wrap-list{ margin:0 18px; border-bottom:1px solid #afafaf; }
li.headerInner__gnbBox__gnbBoxInner-list02__depth02Wrap-list a{ padding:16px 0; font-size:16px; letter-spacing:-1px; }
#containerInner{ width:1180px; margin:0 auto; }

/* COMMON_FOOTER */
#footer__footTop{ border-top:1px solid #ccc; }
.footer__footTop__Inner{ width:1180px; margin:0 auto; }
.footer__footTop__Inner:after{ content:''; display:block; clear:both; }
.footer__footTop__Inner__logoBox{ float:left; margin-right:95px; }
.footer__footTop__Inner__logoBox-fLogo{ padding:10px 0 8px; }

.footer__footTop__Inner__contactBox{ float:left; margin-right:130px; }
.footer__footTop__Inner__contactBox-tel{ padding:15px 0 10px; font-size:14px; color:#4d4d4d; }
.footer__footTop__Inner__contactBox-fax{ padding-bottom:10px; font-size:14px; color:#4d4d4d; }
.footer__footTop__Inner__contactBox-email{ padding-bottom:10px; font-size:14px; color:#4d4d4d; }

.footer__footTop__Inner__addressBox{ float:left; }
.footer__footTop__Inner__addressBox-seoul{ padding:15px 0 10px; font-size:14px; color:#4d4d4d; }
.footer__footTop__Inner__addressBox-pangyo{ font-size:14px; color:#4d4d4d; }
p.footer__footTop__Inner__logoBox-fCEO{ padding-top:10px; font-size:16px; color:#4d4d4d; }

#footer__footBot{ border-top:1px solid #ccc; }
.footer__footBot__Inner{ width:1180px; margin:0 auto; }
p.footer__footBot__Inner__copyright{ padding:10px 0; font-size:14px; color:#4d4d4d; text-align:right; }
